:root{
    --blue:#007bc1;
    --darkBlue:#004a75;
    --orange:#ff8000;
    --darkOrange:#cc6600;
    --smokeGrey:#e5e5e5;
    --box-padding:10px;
  }
  
  html, body {
    scroll-behavior: smooth;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .brCust{
    display: block;
    margin-bottom:0em;
  }
  
  .brCust2{
    display: block;
    margin-bottom:0em;
  }
  
  .brCust3{
    display: block;
    margin-bottom:0em;
  }
  
  .panel{
    z-index: 1;
    position: sticky;
    top: 0;
    transition:
      margin-bottom 0.96s,
      transform 1s;
    width: 100%;
  }
  
  @media(min-width:605px){
    .panel{
      height:10vh;
    }
  }
  
  .notif-panel{
    display:grid;
    height: 100%;
    width:100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "panel-content";
  }
  
  .panel-content{
    display:flex;
    height:100%;
    background-color:var(--smokeGrey);
    justify-content:center;
    align-items:center;
  }
  
  .panel-text{
    display:inline;
  }
  
  .cookie, .privacy, .tos{
    text-decoration:none;
  }
  
  .panel-button{
    display:inline;
    margin-left: 40px;
    padding: 10px 16px;
    background-color: #007bc1;
    color: white;
    border: none;
    border-radius: 2px;
  }
  
  .panel-button:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
  }
  
  @media(max-width:675px){
    .notif-panel{
      height: 100%;
    }
    .panel-content{
      padding: 0 5px;
    }
    .panel-text{
      padding-right: 15px;
    }
    .panel-button{
      font-size: 17px;
      margin: 0;
  }
  }
  
  @media(max-width:605px){
    .notif-panel{
      height: 15%;
    }
    .panel-content{
      align-items: left;
      display: block;
      padding: 10px;
      font-size: 18px;
    }
    .panel-text{
      padding-bottom: 10px;
      display: block;
    }
    .panel-button{
      font-size: 17px;
      margin: 0;
    }
  }
  
  .main-page{
    /* position: absolute; */
    width: 100%;
  }
  
  .hero{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,74,117,.52),rgba(0,74,117,.52)), url('assets/work-desk__dustin-lee.jpg');
    height: 600px;
    width: 100%;
  }
  
  @media(max-width:430px){
    .hero{
      padding:0 15px;
    }
  }
  
  .logo{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 3%;
    left: 1%;
  }
  
  @media(max-width:578px){
    .logo{
      left: 3%;
    }
  }
  
  .hero-content{
    margin:0;
    text-align: center;
    color: white;
  }
  
  .name{
    font-size: 30px;
  }
  
  .contact-text{
    margin-top: 8px;
    padding-bottom: 25px;
  }
  
  .contact-button{
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: white 2px solid;
    padding: 12px 15px;
    border-radius: 2px;
  }
  
  .contact-button:hover{
    color: var(--blue);
    background-color: white;
  }
  
  .highlights{
    text-align: center;
    background-color: var(--smokeGrey);
    padding-top: 50px;
  }
  
  @media(max-width:525px){
    .highlights-text{
      padding: 0 12px;
    }
  }
  
  .help{
    font-size: 35px;
    padding-bottom: 10px;
  }
  
  .container{
    display: grid;
    height: 50%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "content1 content2 content3"
    "content4 content5 content6"
    ;
    grid-gap: 0.5rem;
    margin: 0 20px;
    padding: 40px 0 50px;
  }
  
  @media only screen and (max-width: 960px) {
    .container {
      height: 75%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas:
        "content1 content2"
        "content3 content4"
        "content5 content6"
        ;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas:
        "content1"
        "content2"
        "content3"
        "content4"
        "content5"
        "content6"
        ;
    }
  }
  
  #content1, #content2, #content3, #content4, #content5, #content6{
    border-style: ridge;
    margin: 10px;
    padding: var(--box-padding);
    text-align: right;
  }
  
  .box-para, .box-title{
    color: #565656;
    text-align: left;
    align-self: left;
    padding-left: 10px;
  }
  
  .box-title{
    font-size: 30px;
    position: relative;
    top:0.4em;
  }
  
  .box-logo{
    position: relative;
    bottom: 0.8em;
    right:0.1em;
  }
  
  .box-para{
    padding-bottom: 15px;
  }
  
  .greyiconcolor{
    color: #7b7a7c;
  }
  
  .copy{
    padding: 30px 0;
    text-align: center;
    background-color: #040325;
  }
  
  .news{
    z-index: 1;
    position: fixed;
    bottom: 0;
    transform: translateY(1000px);
    max-width: 640px;
    color: white;
    background-color: var(--blue);
    opacity: .9;
    text-align: left;
    justify-content: center;
    vertical-align: center;
  }
  
  .news-content{
    height: 100%;
    width:100%;
    padding: 15px 20px 10px;
  }
  
  .news-close{
    color: white;
    position: absolute;
    right: 2%;
    top: 7%;
  }
  
  .news-header{
    font-size: 25px;
    width: 95%;
  }
  
  .news-text{
    font-size: 16px;
    padding: 5px 0 8px;
    width: 95%;
  }
  
  .news-form{
    padding: 5px 0;
  }
  
  .email-field{
    width: 75%;
  }
  
  .email-button{
    background-color: var(--orange);
    color: white;
    border: none;
    padding: 1px 10px;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .email-button{
    background-color: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
  }
  
  .news-close:hover{
    cursor: pointer;
  }
  
  @media(max-width:415px){
    .news-header{
      font-size: 25px;
      width: 100%;
    }
    
    .news-text{
      font-size: 16px;
      padding: 5px 0 8px;
      width: 100%;
    }
    .email-field{
      width: 100%;
      margin-bottom: 10px;
    }
    .email-button{
      padding: 2px 0;
      width: 100%;
    }
    .news-close{
      color: white;
      position: absolute;
      right: 3%;
      top: 5%;
    }
  }  
  
    .news-animation{
    animation: animation 1s ease-in-out;
    transform: translateY(0);
  }
  
  .news-animation2{
    animation: animation2 1s ease-in-out;
    transform: translateY(1000px);
  }
  
  @keyframes animation {
    0%{
      transform: translateY(1000px);
    }
    100%{
      transform: translateY(0);
    }
  }
  
  @keyframes animation2 {
    0%{
      transform: translateY(0);
    }
    100%{
      transform: translateY(1000px);
    }
  }
  
  @media(max-width:600px){
    .newsletter{
      max-width: 100%;
    };
    .news-content{
      width: 100%;
    }
  }